ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

li {
    float: left;
}
  
a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

ul {
    background-color: #dddddd;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: gray;
}

li a:hover {
    background-color: #111;
}


ul {
    position: fixed;
    top: 0;
    width: 100%;
}

ul {
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}
body{
    background-color: black
}

h3{
    color:whitesmoke
}
#logout:hover{
    background-color: darkred;
    cursor: pointer;
}